<div
  class="group transition hover:bg-purple-800 text-white rounded-md overflow-hidden cursor-pointer"
>
  <div class="flex flex-col h-64">
    <div class="overflow-hidden grow">
      <img
        [src]="character.image"
        alt=""
        class="transition scale-100 group-hover:scale-105 object-cover w-full h-full"
      />
    </div>
    <div [ngClass]="[character.bgColor, 'p-2']">
      <p class="flex flex-col">
        <span class="font-bold">
          {{ character.name }}
        </span>
        <span class="text-xs">
          {{ character.show }}
        </span>
      </p>
    </div>
  </div>
</div>
