<div
  class="group transition hover:bg-purple-800 hover:bg-opacity-40 rounded-md overflow-hidden cursor-pointer"
>
  <div class="flex flex-col h-64">
    <div class="overflow-hidden grow">
      <img
        [src]="character.image"
        alt=""
        class="transition scale-95 group-hover:scale-100 object-scale-down w-full h-full"
      />
    </div>
    <div [ngClass]="[character.bgColor, 'p-2']">
      <p class="flex flex-col">
        <span class="font-semibold">
          {{ character.name }}
        </span>
        <span class="font-normal text-xs">
          {{ character.show }}
        </span>
      </p>
    </div>
  </div>
</div>
